{:paths ["src" "resources"],
 :deps
 {buddy/buddy-core {:mvn/version "1.6.0"},
  org.clojure/clojure {:mvn/version "1.10.1"},
  com.zaxxer/HikariCP {:mvn/version "3.4.5"},
  expound/expound {:mvn/version "0.8.4"},
  tick/tick {:mvn/version "0.4.23-alpha"},
  com.walmartlabs/lacinia-pedestal {:mvn/version "0.13.0"},
  honeysql/honeysql {:mvn/version "1.0.444"},
  slingshot/slingshot {:mvn/version "0.12.2"},
  com.stuartsierra/component {:mvn/version "1.0.0"},
  nilenso/honeysql-postgres {:mvn/version "0.2.6"},
  buddy/buddy-hashers {:mvn/version "1.4.0"},
  seancorfield/next.jdbc {:mvn/version "1.0.462"},
  com.taoensso/timbre {:mvn/version "4.11.0-alpha1"},
  com.taoensso/nippy {:mvn/version "2.15.0-alpha10"},
  buddy/buddy-auth {:mvn/version "2.2.0"},
  com.gfredericks/schpec {:mvn/version "0.1.2"},
  buddy/buddy-sign {:mvn/version "3.1.0"},
  org.clojure/test.check {:mvn/version "1.0.0"},
  camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.1"},
  com.impossibl.pgjdbc-ng/pgjdbc-ng {:mvn/version "0.8.4"}},
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"},
  "clojars" {:url "https://repo.clojars.org/"}},
 :aliases
 {:dev
  {:extra-paths ["dev-resources"],
   :extra-deps {datawalk/datawalk {:mvn/version "0.1.12"}}},
  :run {:main-opts ["-m" "wfs.core"]},
  :test
  {:extra-paths ["test"],
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.632"},
    lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"},
    org.testcontainers/testcontainers {:mvn/version "1.14.3"},
    org.testcontainers/postgresql {:mvn/version "1.14.3"}},
   :main-opts ["-m" "kaocha.runner"]},
  :uberjar
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.2"}},
   :main-opts ["-m" "cambada.uberjar" "-m" "wfs.core"]},
  :outdated
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :add
  {:extra-deps
   {find-deps
    {:git/url "https://github.com/holyjak/find-deps.git",
     :sha "88d60faf0db23cf4e2f8155ca82ae49fc6dea164"}},
   :main-opts ["-m" "find-deps.core" "-Fsave"]},
  :keygen
  {:extra-deps {net.i2p.crypto/eddsa {:mvn/version "0.3.0"}},
   :main-opts ["-m" "keygen" "./resources/"]}}}
