{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  com.walmartlabs/lacinia-pedestal {:mvn/version "0.13.0"},
  com.stuartsierra/component {:mvn/version "1.0.0"},
  io.aviso/logging {:mvn/version "0.3.2"},
  tick {:mvn/version "0.4.23-alpha"}},
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"},
  "clojars" {:url "https://repo.clojars.org/"}},
 :aliases
 {:dev {:extra-paths ["dev-resources"]},
  :run {:main-opts ["-m" "wfs.core"]},
  :test
  {:extra-paths ["test/main/clojure"],
   :extra-deps
   {lambdaisland/kaocha {:mvn/version "1.0.629"},
    lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}},
   :main-opts ["-m" "kaocha.runner"]},
  :uberjar
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.2"}},
   :main-opts ["-m" "cambada.uberjar" "-m" "wfs.core"]},
  :outdated
  {:extra-deps {olical/depot {:mvn/version "1.8.4"}},
   :main-opts ["-m" "depot.outdated.main"]},
  :add
  {:extra-deps
   {find-deps
    {:git/url "https://github.com/holyjak/find-deps.git",
     :sha "88d60faf0db23cf4e2f8155ca82ae49fc6dea164"}},
   :main-opts ["-m" "find-deps.core" "-Fsave"]}}}
