{:input-objects
   {:User {:description "Authentication information for a user."
           :fields {:username {:type (non-null String)}
                    :password {:type (non-null String)}}}}
 :queries
   {:get-claim
      {:type String
       :description
         "Get a signed token representation of a claim. Currently only `User`s supported"}}}
